body{
	background-color: #F2F2F2;
}

.main-container{
	margin-top: 20px;
}

#login-body{
	background-color: #3B5998;
	color: #fff;
}

#login-container{
	margin-top: 100px;
	text-align: center;
}

#login-button{
	margin-top: 70px;
	display: inline-block;
	margin-bottom: 20px;
}

#add-button{
	color: #fff;
	margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
}

.card{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 4px 3px 5px #ddd;
	padding: 15px 20px;
	margin-bottom: 20px;
}

#menu-top{
	background: #3B5998;
	color: #fff;
	border: 0;
	position: relative;
}

#menu-top a{
	color: #fff;
}

.topic .category{
	text-align: right;
	font-size: 11px;
}

.topic .text{
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.topic .hashtag{	
	font-size: 15px;
	font-weight: bold;
}

.topic .hashtag span{	
	font-size: 20px;
}

.topic .info-icons{
	margin-top: 20px;
}

.topic .info-icons img{
	width: 24px;	
}

.topic .actions button{
	display: inline-block;
	margin-right: 20px;
	color: #fff;
	background-color: #3B5998;
	padding: 5px;
	border: 0;
}

.topic .actions button.agree.disabled{	
	background-color: #fff;
	color: #3B5998;
}

.topic .actions form{
	display: inline-block;
}

#new-topic .row{
	margin-bottom: 20px;
}

#new-topic #text{
	width: 100%;
	height: 150px;
}

textarea {
   resize: none;
}

.button{
	padding: 5px;
	text-transform: uppercase;
	border: none;
}

.button.cancel{
	background-color: #bbb;
	color: #fff;
}

.button.ok{
	background-color: #3B5998;
	color: #fff;
	margin-left: 20px;
}

#sidr-button{
    float: left;
    display: block;
    font-size: 25px;
    line-height: 50px;
    margin-right: 20px;
}
@media (max-width: 767px){
	.navbar-brand{
		padding-right: 0;
	}
	#sidr-button{
		margin-right: 0;
	}
}

#sidr{
	box-shadow: none;
    background-color: #eee;
}

#sidr a{
	box-shadow: none;
}

#sidr ul li{
	border-bottom: 1px solid #ccc;
    border-top: none;
}

#sidr ul li:hover{
	border-top: none;
	border-bottom: 1px solid #ccc;
}

.sidr-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 100000;
    background-color: #000;
    opacity: 0.6;
}

#logout span{
	display: inline-block;
    padding-left: 0;
}

.intro-text{
	display: block;	
	float: left;
	line-height: 30px;
}

#add-post .input input, #add-post .input select{
	width: 100%;
}

#add-post .form-control{
	width: auto;
	
	display: inline-block;
	border: 0px;
    box-shadow: none !important;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 0;    
    height: 30px;    
}



.highcharts-container > svg > text:last-child{
	visibility: hidden;
}

.count {
	text-align: center;
}

.count .text{
	font-size: 14px;
	display: block;
}

.count .percentage{
	font-size: 25px;
	display: block;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}
.no-padding{
	padding: 0;
}

.is-opposer .count.opposers{
	color: #3B5998;
}

.is-opposer .count.backers{
	color: #ccc;
}

.is-backer .count.backers{
	color: #3B5998;	
}

.is-backer .count.opposers{
	color: #ccc;
}