{% load post_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SpeakApp</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/theme.css" rel="stylesheet">    
    <link href="/static/css/jquery.sidr.light.css" rel="stylesheet">        

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">
    <div id="sidr">
      <!-- Your content -->
      <ul>
        {% for category in categories %}
          <li><a href="/list?category_id={{category.id}}">{{category.name}}</a></li>  
        {% endfor %}              
      </ul>
    </div>
    <div class="sidr-overlay" style="display: none;"></div>
    <!-- Fixed navbar -->
    <nav id="menu-top" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="row">          
          <div class="col-xs-6">
            <a href="#sidr" id="sidr-button"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
            <a class="navbar-brand" href="./">SpeakApp</a>
          </div>
          <div class="col-xs-6">
            <a id="add-button" class="pull-right" href="/add">
               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>          
          </div>
        </div>
        
      </div>
    </nav>

    <div class="container main-container" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <!--<div class="card">
        <h1>Welcome to SpeakApp!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed dui porttitor nibh malesuada vestibulum. In venenatis felis a pharetra ultrices. Aenean ornare sed nunc sed vulputate. Duis imperdiet mollis tellus. Vestibulum scelerisque purus ut sapien accumsan, eu varius dui iaculis. Praesent sed ipsum rhoncus.</p>
      </div>-->
      {% if posts %}
        {% for post in posts %}                                     
        <div class="card">
          <div class="topic">
            <div class="category"><span class="glyphicon glyphicon-star"></span>{{post.category.name}}</div>
            <div class="text">
              {{post.message}}
            </div>
            <div class="info-icons">
              <span class="glyphicon glyphicon-user"></span> {{post.num_backers}}
            </div>
            <div class="actions">
              <form action="/agree" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}">
                {% if not post.id|is_backer:current_user.id %}
                  <button class="agree">APOYAR</button>
                {% else %}
                  <button class="agree disabled" disabled>Ya apoyaste</button>
                {% endif %}

              </form>
                <!--<button class="disagree">DESACUERDO</button>-->                           
            </div>
                
            
          </div>
        </div>
        {% endfor %}    
      {% else %}
        <p id="empty">No se encontraron resultados!</p>
      {% endif %}    

      <!--<div class="card">
        <div class="topic">
          <div class="category"><span class="glyphicon glyphicon-star"></span>Proceso de Paz</div>
          <div class="text">
            El proceso de paz que el actual gobierno lleva a cabo con las FARC va por buen camino
          </div>
          <div class="info-icons">
            <span class="glyphicon glyphicon-user"></span> 99
          </div>
          <div class="actions">
            <p class="agree">ACUERDO</p>
            <p class="disagree">DESACUERDO</p>
          </div>
          
        </div>
      </div>-->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
    <script src="/static/js/jquery.sidr.min.js"></script>     
    <script src="/static/js/scripts.js"></script>     

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>        
  </body>
</html>
